<template>
    <div class="tgmd">
        <input v-if="mode=='regex'" type="text" class="tgmd-area" v-model="text" :readonly="readonly" />
        <textarea v-else class="tgmd-area" v-model="text" :readonly="readonly"></textarea>
        <div class="tgmd-bg" v-html="html"></div>
    </div>
</template>
<script src="./tgmd.ts"></script>