<template>
    <div class="rg-data_single">
        <fieldset>
            <el-button @click="vkcheck" type="primary" icon="el-icon-refresh" :loading="loading" :disable="loading">Сбросить токен доступа к VK</el-button>
            <div class="sm-margin-top">
                Теоретически access_token вк не истекает, но может быть сброшен через мобильное приложение, а также вероятно при каких-то манипуляциях с параметрами логина/безопасности в вк.
            </div>
        </fieldset>
        <fieldset>
            <el-button @click="check" type="primary" icon="el-icon-refresh" :loading="loading" :disable="loading">Принудительно проверить почту и bet-hub.com</el-button>
            <div class="sm-margin-top">
                Парсинг bet-hub.com начнется не раньше окончания текущего (включая длительный период разгадывания капчи), если таковой уже будет происходить на момент нажатия кнопки выше. Чтобы оборвать текущий парсинг используйте полный рестарт сервера.
            </div>
        </fieldset>
        <!--fieldset>
            <div>
                <el-button @click="copyLink" type="primary" icon="el-icon-notebook-2" :loading="copyLoading" :disable="copyLoading || updateLoading">Открыть секретную ссылку принудительной проверки</el-button>
            </div>
            <div class="sm-margin-top">
                <el-button @click="updateLink" type="primary" icon="el-icon-notebook-2" :loading="updateLoading" :disable="copyLoading || updateLoading">Обновить и открыть секретную ссылку принудительной проверки (прошлая перестанет работать)</el-button>
            </div>
            <div class="sm-margin-top">
                Внимание! Ссылка принудительной проверки может быть открыта без авторизации в админке. Нигде не распространяйте её, чтобы средства создания превью и поисковые системы не пытались её открыть и не запускали проверку попусту.
            </div>
        </fieldset-->
        <fieldset v-loading.lock="proxy_loading">
            <legend>Состояние соединения с tg серверами</legend>
            <el-radio-group v-model="active_proxy">
                <el-radio style="display:block" v-for="p in proxies" :key="p.id" :label="p.id" :disable="proxies.length===1"><span :style="{color: p.err ? 'red' : undefined}">{{ p.server ? `${p.server}:${p.port} (ping: ${p.seconds * 1000 | 0 }ms) ${formatDate(p)}` : `Без прокси (ping: ${p.seconds * 1000 | 0 }ms)`}}</span>
                    <el-button v-if="active_proxy===p.id" :type="tg_color" :loading="tg_loading" disable size="mini">{{tg_status}}</el-button>
                </el-radio>
            </el-radio-group>
            <div class="sm-margin-top">
                <el-button @click="remote('reloadProxies')" type="primary" round icon="el-icon-refresh" size="mini">Load proxies from mtpro.xyz</el-button>
            </div>
        </fieldset>
    </div>
</template>
<style>
    .sm-margin-top {
        margin-top: 1em;
        line-height: 1.4em;
    }

    fieldset {
        margin-top: 1em;
        padding: 0.6em;
        border: 1px solid #dcdfe6;
    }
</style>
<script src="./reload-button.ts"></script>