<template>
    <div class="rg-row" v-loading="loading" style="min-height:100%">
        <div class="rg-menu">
            <el-dropdown trigger="click" placement="bottom-start" @command="run">
                <div class="rg-menu__item btn">
                    <i class="rg-menu__icon fa fa-user-alt"></i><span>{{UserInfo.email}}</span>
                </div>
                <el-dropdown-menu slot="dropdown" class="rg-user-info-dropdown">
                    <el-dropdown-item command="changeEmail">Change email</el-dropdown-item>
                    <el-dropdown-item command="changePassword">Change password</el-dropdown-item>
                    <el-dropdown-item command="logout">Logout</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <router-link v-for="item of routes" :to="item.path" :key="item.path" class="rg-menu__item btn">
                <i v-if='item.icon' :class="item.icon && item.icon.startsWith('_') ? 'rg-menu__icon fab fa-' + item.icon.replace(/^_/, '') : 'rg-menu__icon fa fa-' + item.icon"></i><span>{{item.name}}</span>
            </router-link>
            <a download :href="Paths.backup" target="_blank" class="rg-menu__item btn"><i class="rg-menu__icon fa fa-cloud-download-alt"></i><span>Backup</span></a>
            <label class="rg-menu__item btn"><input type="file" class="rg-menu__file" @change="restore" /><i class="rg-menu__icon fa fa-cloud-upload-alt"></i><span>Upload backup</span></label>
            <div class="rg-menu__item btn" @click="restartServer"><i class="rg-menu__icon fa fa-power-off"></i><span>Restart server</span></div>
        </div>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</template>